.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #9aa0a6;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #9aa0a6;
}

.social-icons a:hover {
  color: #111111;
  transform: scale(1.2) translateY(-5px);
  background-color: #9aa0a6;
  box-shadow: 0 0 25px rgba(154, 160, 166, 0.45);
}
